# Debug files
#*.mtud
DefaultBuild/
SourceInsights/
Boot/DefaultBuild
Flash/DefaultBuild
.vscode/settings.json
Program/Main_IoT/Flash/Configsys/Flash.dr
Program/Main_IoT/Flash/Driver/Flash.dr
Program/Main_IoT/Flash/Lib/Flash.dr
Program/Main_IoT/Flash/User/Flash.dr
Program/Front/MY_AIS_FRONT.si4project/cache/parse/
*.bak
*.json