# Debug files
*.mtud
.vscode/
DOC/
설명 자료/
.git_backUp/
WESTERN_ICE.si4project/
edit/
Hex Output/
DefaultBuild/
Boot/DefaultBuild
Flash/DefaultBuild
설명 자료/
source/Document/
source/MMI/
source/WesternAis.si4project/
